[submodule "rust/libc"]
	path = rust/libc
	url = https://github.com/tylerwhall/libc.git
[submodule "rust/rust"]
	path = rust/rust
	url = https://github.com/tylerwhall/rust.git
[submodule "rust/patches/backtrace-rs"]
	path = rust/patches/backtrace-rs
	url = https://github.com/rust-lang/backtrace-rs.git
